.main-image {
  width: 20vw;
}

.input-field {
  margin: 5vh;
  margin-left: 1vh;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.input-title {
  color: #0a0118;
  font-weight: bold;
  width: 150px;
}

.hint1{
    display: block;
    padding: 2%;
}