.elon-left{
    animation: rotation 15s infinite linear;
    width: 20vw;
    padding: 1%;
}
@keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .elon-right{
    animation: rotation2 15s infinite linear;
    -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  width: 20vw;
  padding: 1%;

    
}
@keyframes rotation2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  .elon-bhai {
      width: 50vw;
  }
  